
body {
    background: black;
    display: center;
    margin: 100px;
    padding: 20px;
    border-radius: 10px;
    border: 6px solid;
    position: relative;
}

.BigCounter {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 100px;
    line-height: auto;
    background: black;
    padding: 5%;
}

.far {
    color: white
}